<header>
    <div class="wrapper">
        <a href="\"><img src="img/logo.png" class="logo" alt="" titl="" /></a>
        <a href="\" class="hamburger"></a>  
        <nav>
            @await Component.InvokeAsync("MainMenu")
            <a href="#" class="login_btn">Login</a>
        </nav>
    </div>
</header><!--  end header section  -->